# Ran in Google Colab

# Loading Text File from Kaggle into Dataframe

In [1]:
! pip install --ignore-installed pyspark==2.4.4

Collecting pyspark==2.4.4
  Downloading pyspark-2.4.4.tar.gz (215.7 MB)
     |████████████████████████████████| 215.7 MB 59 kB/s
Collecting py4j==0.10.7
  Downloading py4j-0.10.7-py2.py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 13.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.4-py2.py3-none-any.whl size=216130392 sha256=3b2deed8d172cc866866a27e6b5ff94276622a1b4fe643126bc8979ad2456a52
  Stored in directory: /root/.cache/pip/wheels/11/48/19/c3b6b66e4575c164407a83bc065179904ddc33c9d6500846f0
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.4

In [2]:
! pip install -q kaggle

In [30]:
from google.colab import files
files.upload()

{}

In [4]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/

In [5]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              237KB  2021-12-03 07:25:55          17591
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01          10495
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           5172
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-10-22 10:48:21           3795
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           2962
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           2085
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1801
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1413
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47           1082
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            551
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            542
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37           1160
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            201
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            243
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            169
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            253
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         161050
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         150655
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          31018
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          26187

In [7]:
! kaggle datasets download -d uciml/electric-power-consumption-data-set

Downloading electric-power-consumption-data-set.zip to /content
 26% 5.00M/19.4M [00:00<00:00, 25.9MB/s]
100% 19.4M/19.4M [00:00<00:00, 64.7MB/s]

In [8]:
! unzip electric-power-consumption-data-set.zip

Archive:  electric-power-consumption-data-set.zip
  inflating: household_power_consumption.txt

In [9]:
from pyspark.sql import SparkSession

In [10]:
spark = SparkSession.builder.getOrCreate()

In [11]:
df = spark.read.text('household_power_consumption.txt')

In [12]:
df.show(5)

+--------------------+
|               value|
+--------------------+
|Date;Time;Global_...|
|16/12/2006;17:24:...|
|16/12/2006;17:25:...|
|16/12/2006;17:26:...|
|16/12/2006;17:27:...|
+--------------------+
only showing top 5 rows

In [13]:
dfColumnsNotSplit = df.selectExpr("split(value, ';')\
as Text_Data_In_A_Single_Column")

dfColumnsNotSplit.show(5,False)

+-----------------------------------------------------------------------------------------------------------------------------------+
|Text_Data_In_A_Single_Column                                                                                                       |
+-----------------------------------------------------------------------------------------------------------------------------------+
|[Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]|
|[16/12/2006, 17:24:00, 4.216, 0.418, 234.840, 18.400, 0.000, 1.000, 17.000]                                                        |
|[16/12/2006, 17:25:00, 5.360, 0.436, 233.630, 23.000, 0.000, 1.000, 16.000]                                                        |
|[16/12/2006, 17:26:00, 5.374, 0.498, 233.290, 23.000, 0.000, 2.000, 17.000]                                                        |
|[16/12/2006, 17:27:00, 5.388, 0.502, 233.740, 23.000, 0.000, 1.000, 17.000]                                                        |
+-----------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [14]:
dfColumnsSplit = spark.read.option("header", "true") \
    .option("delimiter", ";") \
    .option("inferSchema", "true") \
    .csv("household_power_consumption.txt")

dfColumnsSplit.show(5, truncate=False)

+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|Date      |Time    |Global_active_power|Global_reactive_power|Voltage|Global_intensity|Sub_metering_1|Sub_metering_2|Sub_metering_3|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|16/12/2006|17:24:00|4.216              |0.418                |234.840|18.400          |0.000         |1.000         |17.0          |
|16/12/2006|17:25:00|5.360              |0.436                |233.630|23.000          |0.000         |1.000         |16.0          |
|16/12/2006|17:26:00|5.374              |0.498                |233.290|23.000          |0.000         |2.000         |17.0          |
|16/12/2006|17:27:00|5.388              |0.502                |233.740|23.000          |0.000         |1.000         |17.0          |
|16/12/2006|17:28:00|3.666              |0.528                |235.680|15.800          |0.000         |1.000         |17.0          |
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
only showing top 5 rows

# Select Query

## Show a single column

In [15]:
dfColumnsSplit.select("Global_active_power").show(5)

+-------------------+
|Global_active_power|
+-------------------+
|              4.216|
|              5.360|
|              5.374|
|              5.388|
|              3.666|
+-------------------+
only showing top 5 rows

## Showing multiple columns

In [16]:
dfColumnsSplit.select("Global_active_power", "Global_reactive_power", "Voltage", "Global_intensity").show(5)

+-------------------+---------------------+-------+----------------+
|Global_active_power|Global_reactive_power|Voltage|Global_intensity|
+-------------------+---------------------+-------+----------------+
|              4.216|                0.418|234.840|          18.400|
|              5.360|                0.436|233.630|          23.000|
|              5.374|                0.498|233.290|          23.000|
|              5.388|                0.502|233.740|          23.000|
|              3.666|                0.528|235.680|          15.800|
+-------------------+---------------------+-------+----------------+
only showing top 5 rows

# Like Query

In [17]:
dfColumnsSplit.select("Global_active_power", dfColumnsSplit.Global_active_power.like("5.388")).show(5)

+-------------------+------------------------------+
|Global_active_power|Global_active_power LIKE 5.388|
+-------------------+------------------------------+
|              4.216|                         false|
|              5.360|                         false|
|              5.374|                         false|
|              5.388|                          true|
|              3.666|                         false|
+-------------------+------------------------------+
only showing top 5 rows

# Filter Query

In [18]:
dfColumnsSplit.filter \
    (dfColumnsSplit.Global_active_power == "5.388").show(5)

+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|      Date|    Time|Global_active_power|Global_reactive_power|Voltage|Global_intensity|Sub_metering_1|Sub_metering_2|Sub_metering_3|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|16/12/2006|17:27:00|              5.388|                0.502|233.740|          23.000|         0.000|         1.000|          17.0|
|22/12/2006|20:53:00|              5.388|                0.252|232.360|          23.200|        36.000|         1.000|          17.0|
|24/12/2006|00:04:00|              5.388|                0.000|236.980|          22.600|         0.000|         0.000|          17.0|
|28/12/2006|19:00:00|              5.388|                0.176|234.950|          22.800|         0.000|        38.000|          17.0|
|28/12/2006|19:07:00|              5.388|                0.182|234.530|          23.000|         0.000|        37.000|          17.0|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
only showing top 5 rows

# Group By Query

In [19]:
dfColumnsSplit.groupBy("Date").count().show(5)

+----------+-----+
|      Date|count|
+----------+-----+
| 30/1/2007| 1440|
| 13/2/2007| 1440|
|19/11/2007| 1440|
| 12/1/2008| 1440|
| 26/2/2008| 1440|
+----------+-----+
only showing top 5 rows

# Handling NaNs

## Finds NaNs

In [20]:
dfColumnsSplit.filter("Sub_metering_3 is NULL").show(5)

+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|      Date|    Time|Global_active_power|Global_reactive_power|Voltage|Global_intensity|Sub_metering_1|Sub_metering_2|Sub_metering_3|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|21/12/2006|11:23:00|                  ?|                    ?|      ?|               ?|             ?|             ?|          null|
|21/12/2006|11:24:00|                  ?|                    ?|      ?|               ?|             ?|             ?|          null|
|30/12/2006|10:08:00|                  ?|                    ?|      ?|               ?|             ?|             ?|          null|
|30/12/2006|10:09:00|                  ?|                    ?|      ?|               ?|             ?|             ?|          null|
| 14/1/2007|18:36:00|                  ?|                    ?|      ?|               ?|             ?|             ?|          null|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
only showing top 5 rows

## Fill NaNs

In [21]:
dfColumnsNaNFill = dfColumnsSplit.na.fill(123456)

In [22]:
dfColumnsNaNFill.filter \
    (dfColumnsNaNFill.Sub_metering_3 == "123456").show(5)

+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|      Date|    Time|Global_active_power|Global_reactive_power|Voltage|Global_intensity|Sub_metering_1|Sub_metering_2|Sub_metering_3|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|21/12/2006|11:23:00|                  ?|                    ?|      ?|               ?|             ?|             ?|      123456.0|
|21/12/2006|11:24:00|                  ?|                    ?|      ?|               ?|             ?|             ?|      123456.0|
|30/12/2006|10:08:00|                  ?|                    ?|      ?|               ?|             ?|             ?|      123456.0|
|30/12/2006|10:09:00|                  ?|                    ?|      ?|               ?|             ?|             ?|      123456.0|
| 14/1/2007|18:36:00|                  ?|                    ?|      ?|               ?|             ?|             ?|      123456.0|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
only showing top 5 rows

# Modify Table

## Update Query - One Column's value

In [23]:
from pyspark.sql import functions as F

In [24]:
dfColumnsFill_OneColumn = dfColumnsNaNFill.withColumn \
    ("Global_active_power", F.when(F.col("Global_active_power")=='?', 100).otherwise(F.col("Global_active_power")))

In [25]:
dfColumnsFill_OneColumn.filter \
    (dfColumnsFill_OneColumn.Sub_metering_3 == "123456").show(5)

+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|      Date|    Time|Global_active_power|Global_reactive_power|Voltage|Global_intensity|Sub_metering_1|Sub_metering_2|Sub_metering_3|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|21/12/2006|11:23:00|                100|                    ?|      ?|               ?|             ?|             ?|      123456.0|
|21/12/2006|11:24:00|                100|                    ?|      ?|               ?|             ?|             ?|      123456.0|
|30/12/2006|10:08:00|                100|                    ?|      ?|               ?|             ?|             ?|      123456.0|
|30/12/2006|10:09:00|                100|                    ?|      ?|               ?|             ?|             ?|      123456.0|
| 14/1/2007|18:36:00|                100|                    ?|      ?|               ?|             ?|             ?|      123456.0|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
only showing top 5 rows

## Update Query - All Columns value

In [26]:
cols = dfColumnsNaNFill.columns
for col in cols:
  dfColumnsNaNFill = dfColumnsNaNFill.withColumn(col, F.when(dfColumnsNaNFill[col] == "?",100).otherwise(F.col(col)))

In [27]:
dfColumnsNaNFill.filter \
    (dfColumnsFill_OneColumn.Sub_metering_3 == "123456").show(5)

+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|      Date|    Time|Global_active_power|Global_reactive_power|Voltage|Global_intensity|Sub_metering_1|Sub_metering_2|Sub_metering_3|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|21/12/2006|11:23:00|                100|                  100|    100|             100|           100|           100|      123456.0|
|21/12/2006|11:24:00|                100|                  100|    100|             100|           100|           100|      123456.0|
|30/12/2006|10:08:00|                100|                  100|    100|             100|           100|           100|      123456.0|
|30/12/2006|10:09:00|                100|                  100|    100|             100|           100|           100|      123456.0|
| 14/1/2007|18:36:00|                100|                  100|    100|             100|           100|           100|      123456.0|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
only showing top 5 rows

# Add Query

In [28]:
newRow = spark.createDataFrame([('21/12/2021','17:24:00',4.216,0.418,234.840,18.400,0.00,0.01,17.0)], dfColumnsSplit.columns)

dfColumnsSplit_NewRow = dfColumnsSplit.union(newRow)

In [29]:
dfColumnsSplit_NewRow.filter \
    (dfColumnsSplit_NewRow.Date == '21/12/2021').show(5)

+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|      Date|    Time|Global_active_power|Global_reactive_power|Voltage|Global_intensity|Sub_metering_1|Sub_metering_2|Sub_metering_3|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+
|21/12/2021|17:24:00|              4.216|                0.418| 234.84|            18.4|           0.0|          0.01|          17.0|
+----------+--------+-------------------+---------------------+-------+----------------+--------------+--------------+--------------+

In [31]:
spark.stop()